/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --ifm-color-primary: #2D50E9;
  --ifm-color-primary-dark: #2d50e9;
  --ifm-color-primary-darker: #2d50e9;
  --ifm-color-primary-darkest: #2d50e9;
  --ifm-color-primary-light: #2d50e9;
  --ifm-color-primary-lighter: #2d50e9;
  --ifm-color-primary-lightest: #2d50e9;
  --ifm-code-font-size: 95%;

  --announce-1: #0243c5;
  --announce-2: #2d50e9;

}

body {
  text-decoration-color: #ffafd0 !important;
}

html {
  text-decoration-color: #ffafd0 !important;
}

.hero__title {
  text-align: center;
  float: center;
  align-items: center;
}

.hero__subtitle {
  text-align: center;
  float: center;
  align-items: center;
}

.CookieConsent {
  background-color: #001b92 !important;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

html[data-theme='dark'] {
  --ifm-color-primary: #2D50E9;
  --ifm-color-primary-dark: #2d50e9;
  --ifm-color-primary-darker: #2d50e9;
  --ifm-color-primary-darkest: #2d50e9;
  --ifm-color-primary-light: #2d50e9;
  --ifm-color-primary-lighter: #2d50e9;
  --ifm-color-primary-lightest: #2d50e9;
  --ifm-code-font-size: 95%;

  --announce-1: #0243c5;
  --announce-2: #2d50e9;
}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.fa-brands {
  font-size: 25px;
  padding-right: 15px;
}

.showcaser {
  width: 100%;
  border: none;
  outline: none;
}

.deskreq {
  display: none;
}

.navbar {
  background-color: #ffffff;
  padding: none;
  line-height: normal;
}


html[data-theme='dark'] .navbar {
  background-color: #98abff;
  color: #001b92;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
.hero__title {
  color: #ffafd0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 70px;
  line-height: 45px;
}
html[data-theme='dark'] .hero__title {
  color: #ffafd0;
}
.hero__subtitle {
  color: white;
  font-family: 'Roboto', monospace;
  font-weight: 600;
}
html[data-theme='dark'] .hero__subtitle {
  color: white;
  font-weight: 600;
}

.hero--primary {
  padding-top: 10px;
  height: 230px;
}

.form {
  border-radius: 15px;
}

.about {
  padding: 20px;
}

.project {
  background-color: #d0d9ff;
  margin: 0 auto;
  border-radius: 15px;
  width: 90%;
  height: fit-content;
  padding: 25px;
  color: #2D50E9;
  font-weight: bold;
}

.project p {
  color: black;
}

.gridmobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .hero__subtitle {
    display: none;
  }

  .gridmobile {
    display: block;
  }

  .page {
    padding-right: 20px !important;
    padding-left: 20px !important;

  }

  .shortabout {
    display: none;
  }

  .aboutul {
    display: none;
  }

  .deskreq {
    display: none;
  }

  .hero__title {
    color: #ffafd0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: normal;
  }

  .grid {
    /*Here to go down.*/
  }

  h1 {
    padding: none;
  }

}

h1, h2, h3, h4, h5, h6, p, small, li, a, button, input, textarea, label, span, div {
  font-family: 'Roboto', sans-serif;
}

.footer {
  color: #ffafd0;
  background-color: #0243c5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-weight: 600;
  font-size: 15px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.navbar__link--active {
  padding: 15px;
  text-decoration: underline;
  text-decoration-color: #ffafd0;
}


.hero--primary {
  height: 220px;
  padding: 20px;
}

.page {
  padding-left: 80px;
  padding-right: 80px;
}

.head {
  color: #2D50E9;
  font-size: 55px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;
  text-decoration-color: #ffafd0 !important;
}

.navbar__toggle {
  color: #2D50E9;
}

.shortabout {
  color: #001B92;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}

.social {
  background-color: #ffafd0;
  color: #0243c5;
  width: 100%;
  padding: 15px;
  padding-bottom: 7px;
  text-align: center;
}

svg {
  fill: #2D50E9;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffafd0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #021877; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8296f0; 
}





div[class^='announcementBar_'] {
  background: repeating-linear-gradient(
    35deg,
    var(--announce-1),
    var(--announce-1) 20px,
    var(--announce-2) 10px,
    var(--announce-2) 40px
  );
  font-weight: bold;
  color: white;
}